* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f7fe;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  color: #272044;
  font-size: 36px;
  font-weight: 800;
  line-height: 1.5;
  text-align: center;
}

form {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  display: flex;
  margin-bottom: 30px;
  padding: 30px;
}

.story-instructions {
  border: 1px solid rgba(39, 33, 66, 0.5);
  border-radius: 50px;
  color: #272044;
  font-size: 16px;
  line-height: 20px;
  padding: 16px;
  width: 80%;
  font-size: 16px;
}

.button {
  background-color: #885df1;
  color: white;
  border: none;
  border-radius: 50px;
  margin-left: 10px;
  padding: 14px 24px;
  width: 150px;
}

.button:hover {
  border: 2px solid #272044;
}

.story {
  background-color: #fff;
  border-left: 3px solid #885df1;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.03);
  font-size: 16px;
  line-height: 2;
  padding: 20px;
}

.hidden {
  display: none;
}

.generating {
  text-align: center;
}

.stage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 32px 0;
  margin: 0 -5%;
  overflow: hidden;
}

.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.dot-flashing::before,
.dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: #9880ff;
  }
  50%,
  100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}

footer {
  font-size: 11px;
  text-align: center;
  margin-top: 30px;
}

.code-link {
  font-weight: 800;
  text-decoration: none;
  color: #885df1;
}
